* {
    box-sizing: border-box;
}

body {
    font: 16px Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

#title{
    margin-top: 50px;
    margin-bottom: 100px;

}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*the container must be positioned relative:*/
.autocomplete {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

input, textarea {
    border: 1px solid gray;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    width: 100%;

}

input[type=submit] {
    margin-top: 20px;
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}
/* ...existing code... */
.switch {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.switch label {
    margin-right: 10px;
}

.switch input {
    display: none;
}

.switch .slider {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: gray;
    border-radius: 34px;
    transition: background-color 0.4s;
}

.switch .slider:before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s;
}

.switch input:checked + .slider {
    background-color: #2196F3;
}

.switch input:checked + .slider:before {
    transform: translateX(26px);
}

.switch .slider.left {
    background-color: gray;
}

.switch .slider.left:before {
    transform: translateX(0);
}